[{{ cluster_name }}]
pg1-path=/data/{{ cluster_name }}
pg1-port={{ backup_port }}

[global]
process-max={{ process_max }}
repo1-cipher-pass=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
repo1-cipher-type=aes-256-cbc
repo1-path={{ backup_folder }}/{{ cluster_name }}
repo1-retention-diff=2
repo1-retention-full=2
repo2-type=s3
repo2-retention-full=4
repo2-s3-bucket={{ backup_s3_bucket }}
repo2-s3-endpoint=s3.eu-west-1.amazonaws.com
repo2-s3-key=XXXXXXXXX
repo2-s3-key-secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
repo2-s3-region=eu-west-1
start-fast=y

[global:archive-push]
compress-level={{ compress_level }}
